:root {
    --first-color: #00235B;
    --second-color: #E21818;
    --third-color: #FFDD83;
    --forth-color: #98DFD6;

}
body {
    margin: 0;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background: url("../images/premium_photo-1674718013659-6930c469e641.png");
    background-size: cover;
    overflow: hidden;
}
h2 {
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 32px;
    text-align: center;
    color: var(--third-color);
    font-weight: bold;
    background: rgba(0, 0, 0, 0.3);
}
.clock{
    display: flex;
}
.clock div {
    margin: 5px;
    position: relative;
}
.clock span {
    width: 120px;
    height: 100px;
    background-color: var(--first-color);
    opacity: 0.8;
    color: var(--third-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    border-radius: 8px 8px 0 0;
}
.clock .text{
    height: 40px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: var(--second-color);
    color: white;
    border-radius: 0 0 8px 8px;
}
.clock #ampm {
    bottom: 0;
    position: absolute;
    width: 60px;
    height: 30px;
    font-size: 24px;
    background: var(--forth-color);
    color: white;
    border-radius: 24px 24px;
    padding: 3px 6px;
}